.container {
    border: 5px solid black;
    padding: 2%;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#search-widget {
    margin-bottom: 40px;
}

.five-day {
    border: 2px solid blue;
    margin-left: 5px;
    margin-right: 5px;
}

#current-day {
    border: 2px solid blue;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}